@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;

}

/* headings and logo */

.header {
    min-height: 60vh;
    width: 100%;
    background-image: url('../images/banner..jpg');
    background-position: center;
    background-size: cover;
}
   
#logo {
    float: left;
    font-size: 260%;
    margin-left: 50px;
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 120px;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: 'Beau Rivage', cursive;
    text-transform: uppercase;
  }
  .centered > h1 {
      font-size: 50px;
  }

/* navigation lines */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
       
}
#menu, #logo {
    line-height: 150px;
    
}

 
li a {
    box-shadow: inset 0 0 0 0 blanchedalmond;
    color: blanchedalmond;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
    text-decoration: none;
  }

  li a:hover {
    box-shadow: inset 100px 0 0 0 blanchedalmond;
    color: black;
  }
 
  




/*  classes and schedule */

#yoga-exercise {
    width: 450px;
    height: 400px;
    bottom: 30px;
    right: 450px;
    background: url('../images/yoga-exercise.jpg') no-repeat center center;
    padding-top: 30px;
    width: 33%;
    float: left;

}

#meditation {
    width: 450px;
    height: 400px;
    background: url('../images/meditation.jpg') ;
     padding-top: 30px;
    width: 33%;
    float: right;
} 

#pilates {
    width: 450px;
    height: 430px;
    background: url('../images/pilates.jpg') no-repeat center center;
    width: 33%;
    margin: 0 auto;
}