@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;

}

/* headings and logo */

.header {
    min-height: 60vh;
    width: 100%;
    background-image: url('../images/banner..jpg');
    background-position: center;
    background-size: cover;
}
   
#logo {
    float: left;
    font-size: 260%;
    margin-left: 50px;
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 120px;
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: 'Beau Rivage', cursive;
    text-transform: uppercase;
  }
  .centered > h1 {
      font-size: 50px;
  }

/* navigation lines */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
       
}
#menu, #logo {
    line-height: 150px;
    
}

 
li a {
    box-shadow: inset 0 0 0 0 blanchedalmond;
    color: blanchedalmond;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .6s ease-in-out, box-shadow .6s ease-in-out;
    text-decoration: none;
  }

  li a:hover {
    box-shadow: inset 100px 0 0 0 blanchedalmond;
    color: black;
  }
 
  




/*  classes and schedule */

.class-content-wrapper {
    display:flex;
    max-width: 1500px;
    width: 100%; 
    padding: 20px 0;
    margin: 0 auto;
}



.text-right {
    float: right;
    width: 50%;
}

.picture-left {
    width: 45%;
}

.class-text-right {
    text-align: justify;
    padding: 50px;
    line-height: 25px;
    margin-left: 5%;

    
}

.text-left {
    float:left;
    width: 50%;
}

.class-text-left {
    text-align: justify;
    padding: 50px;
    line-height: 25px;
    margin-left: 5%;

}

.picture-right {
    width: 50%;
}

hr {
    border-top: 1px solid black;
    width: 100%;
    margin: 10px 0;
}
.picture-left:hover {
    transform: scale(1.1);
 }
 
 .picture-right:hover {
     transform: scale(1.1);
 }
 
 

.class-section-hr {
    display: table;
    margin-right: auto;
    margin-left: auto;
  
}

h3 {
    text-align: center;
    margin-bottom: 3%
}


p   {
    margin-bottom: 5%
}

/* Our team that will make your day amazing! */

.our-team-center {
    text-align: center;
    text-transform: uppercase;
    padding-top: 3%;
    font-size: 2rem;
    padding-bottom: 3%;
}

.team-shapping > img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    padding: 30px;
   
    
}
.team-shapping > img:hover {
    transform: scale(1.2);
}

.team {
    display: flex; justify-content:space-around;
}

.team-shapping {
    text-align: center;
   
}

.team-shapping > h2 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.team-shapping > p {
    margin-top: 2%;
}

